* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

#palette {
    position: fixed;
    top: 50px;
    right: 50px; /* Đổi từ left sang right */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#palette label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    padding: 10px;
}

#palette div {
    margin-bottom: 15px;
}

#palette button {
    display: block;
    width: 150px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c60db4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#palette button:hover {
    background-color: #21282f;
}

#palette input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#palette input:focus {
    border-color: #007bff;
    outline: none;
}

/* Định dạng các nhóm thành phần bên trong palette */
#palette div > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Hiệu ứng hiển thị */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
